@CHARSET "UTF-8";
.field {
  	height: 50px;
   	padding: 12px 20px;
   	width: 80%;
   	margin-left: 10%;
   	margin-right: 10%;
   	margin-top: 10px;
   	margin-bottom: 10px;
   	font-size: 20px;
   	border: 1px solid #ccc;
   	border-radius: 4px;
   	box-sizing: border-box;
 }
	
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
	}
.header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0;
    font-size: 32px;
}
.text1 {
    color: green;
   	margin-left: 10%;
   	margin-right: 10%;
   	margin-top: 0px;
   	font-size: 22px;
}
.error_message {
   	color: red;
   	margin-left: 10%;
   	margin-right: 10%;
   	margin-top: 0px;
   	font-size: 18px;
   	display : none;
}
.error_msg_003{
    border:solid 1px #FBD3C6;
    background:#FDE4E1;
    color: #B10009;
    text-align: center;
    font-size: 21px;
}

.button:hover {
    color: white;
	background-color: #45A445;
}
.label1 {
    margin-left: 10%;
}
.div1 {
    margin-left: 10%;
    margin-right: 10%;
}