html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -500px;
   float:left
}
div#container
{
   width: 970px;
   height: 750px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FDF5E6;
   background-image: url(/resources/jpg/imagesIndexPage/indexPage_bkgrnd.png);
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
   position:absolute;
   text-align:left;
   left:167px;
   top:0px;
   width:668px;
   height:709px;
   z-index:6;
}
#Layer2
{
   background-color: transparent;
   background-image: url(/resources/jpg/imagesIndexPage/index_Layer2_bkgrnd.png);
   background-repeat: repeat-x;
   background-position: left top;
   position:absolute;
   text-align:center;
   left:167px;
   top:0px;
   width:670px;
   height:116px;
   z-index:7;
}
#Layer2_Container{
   width:670px;
   position:relative;
   margin-left:auto;
   margin-right:auto;
   text-align:left;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
   position:absolute;
   left:39px;
   top:39px;
   width:610px;
   height:24px;
   z-index:4;
   text-align:left;
}
#wb_Text1 div
{
   text-align: left;
}
#Login1
{
   background-color: #FFFFFF;
   border-color:#CCCCCC;
   border-width:1px;
   border-style: solid;
   /*-moz-border-radius: 4px;*/
   -webkit-border-radius: 4px;
   border-radius: 4px;
   color: #000000;
   border-spacing: 6px;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   text-align: left;
   width: 185px;
   height: 200px;
}

#Login1 td
{
   padding: 0;
}
#Login1 .header
{
   background-color: #878787;
   color: #FFFFFF;
   height: 16px;
   padding: 4px 4px 4px 4px;
   text-align: center;
}
#Login1 .labelWB
{
   height: 16px;
}
#Login1 .rowWB
{
   height: 30px;
   text-align: left;
}
#Login1 .input
{
   background-color: #FFFFFF;
   border-color: #CCCCCC;
   border-width: 1px;
   border-style: solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   width: 100%;
   height: 30px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 6px 4px 6px 4px;
}
#Login1 .input:focus
{
   border-color: #66AFE9;
   outline: 0;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
}
#Login1 .button
{
   background-color: #3370B7;
   border-color: #2E6DA4;
   border-width: 1px;
   border-style: solid;
   -moz-border-radius: 6px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 14px 4px 14px;
   vertical-align: top;
}
#Login1 .buttonre
{
   position:relative;
   left:10px;
   /*top:238px;*/
   width: 87px;
   height:20px;
   /*z-index:5;*/
   border: 1px #494949 solid;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #A9A9A9;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}

#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 .col-1, #LayoutGrid1 .col-2
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1
{
}
#LayoutGrid1 .col-1, #LayoutGrid1 .col-2
{
   float: left;
}
#LayoutGrid1 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 50%;
   text-align: left;
}
#LayoutGrid1 .col-2
{
   background-color: transparent;
   background-image: none;
   width: 50%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 .col-1, #LayoutGrid1 .col-2
{
   float: none;
   width: 100%;
}
}
#Layer3
{
   background-color: transparent;
   background-image: url(/resources/jpg/imagesIndexPage/index_Layer3_bkgrnd.png);
   background-repeat: repeat-x;
   background-position: left top;
   position:absolute;
   text-align:left;
   left:167px;
   top:116px;
   width:218px;
   height:595px;
   z-index:8;
}
#wb_Login1{
   position:absolute;
   left:17px;
   top:15px;
   width:185px;
   height:214px;
   z-index:5;
}
#Table1
{
   border: 2px transparent solid;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   position:absolute;
   left:227px;
   top:115px;
   width:411px;
   height:573px;
   z-index:1;
}
#Table1 td
{
   padding: 0px 0px 0px 0px;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   text-align: justify;
   vertical-align: top;
   height: 133px;
}
#Table1 .cell1
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: top;
   height: 36px;
}
#Table1 .cell2
{
   background-color: transparent;
   background-image: url(/resources/jpg/imagesIndexPage/336730_600.jpg);
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   text-align: center;
   vertical-align: middle;
   height: 243px;
}
#Table1 .cell3
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: middle;
   height: 152px;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: justify;
   position:absolute;
   left:232px;
   top:129px;
   width:406px;
   height:114px;
   text-align:justify;
   z-index:0;
}
.table1 {

}
span.span1{
   color:#080000;
   font-family:'Times New Roman';
   font-size:16px;
}
span.span2{
    color:#080000;
    font-family:'Times New Roman';
    font-size:16px;
    line-height:19px;
 }
span.span3{
   color:#080000;
   font-family:ArialMT;
   font-size:15px;
   line-height:17px;
}
span.span4{
   color:#000000;
   font-family:Arial;
   font-size:13px;
}
span.span5{
   color:#000000;font-family:Arial;font-size:20px;
}
#wb_Text2 div
{
   text-align: justify;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: justify;
   position:absolute;
   left:242px;
   top:545px;
   width:384px;
   height:48px;
   text-align:justify;
   z-index:2;
}
#wb_Text3 div
{
   text-align: justify;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
   position:absolute;
   left:252px;
   top:619px;
   width:374px;
   height:29px;
   text-align:center;
   z-index:3;
}
#wb_Text4 div
{
   text-align: center;
}
