#table1 {
    position: relative;
    left: 2.5cm;
    border-collapse: collapse;
    width: 80%;
    font-size: 16px;
    box-sizing:border-box
}

#table1 th, td {
    text-align: left;
    padding: 8px;
    width: 100px;
    box-sizing:border-box
}

#table1 tr:nth-child(even){background-color: #f2f2f2}

#table1 th {
    background-color: #4CAF50;
    color: white;
}

.myButton {
    -moz-box-shadow: 0px 1px 0px 0px #91b8b3;
    -webkit-box-shadow: 0px 1px 0px 0px #91b8b3;
    box-shadow: 0px 1px 0px 0px #91b8b3;
    background-color: #90a8a2;
    -moz-border-radius:12px;
    -webkit-border-radius:20px;
    border-radius:15px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:8px 9px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
    background-color: #367c1c;
}
.myButton:active {
    position:relative;
    top:1px;
}
