body {
    margin: 0;
}

ul.class1, li.class1 {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 24px;
    font-family: Aharoni;
    line-height: 1.2;
}

li a.class1 {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.header {
    color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    font-size: 32px;
}
.window{
    margin-left:25%;
    padding:1px 16px;
    height:1000px;
    line-height: 1.4;
    font-family: serif;
    font-size: 18px;
}

ul.window{}
.subheader {
    font-size: 24px;
}
.text {
    font-size: 20px !important;
}

#badge1 {
    position:relative;
}
#badge1[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:12px;
    right:60px;
    font-size:.7em;
    background: #5c6780;
    color:white;
    width:30px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
}
#badge1:empty {
    background: #ff0000;
    display: none;
}

#Table2
{
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: transparent;
    background-image: none;
    border-collapse: separate;
    border-spacing: 0px;
    position:relative;
    left:50px;
    top:1px;
    width:554px;
    height:140px;
}
#Table2 td
{
    padding: 0px 0px 0px 0px;
}
#Table2 td div
{
    white-space: nowrap;
}
#Table2 .cell0
{
    background-color: transparent;
    background-image: none;
    border: 1px #FFFFFF none;
    text-align: center;
    vertical-align: top;
    width: 170px;
    height: 140px;
    color:#000000;
    font-family:Arial;
    font-size:13px;
    line-height:16px;
}
#Table2 .cell1
{
    background-color:  #f0f0f0;
    background-image: none;
    border: 1px #C0C0C0 none;
    text-align: left;
    vertical-align: top;
    width: 305px;
    height: 90px;
    box-sizing: border-box;
}
td.cell1 {
    /*vertical-align: middle !important;*/
    color: #a81419;  !important;
    font-family: Arial;
    font-size: 30px;
    line-height: 40px;
    /*padding: 20px 0 0 5px !important;*/
    padding-left:10px !important;
}
#Table2 .cell3
{
    background-color:  #f0f0f0;
    background-image: none;
    border: 1px #C0C0C0 none;
    text-align: left;
    vertical-align: middle;
    width: 170px;
    height: 30px;
    color: #6a6a6a;
    font-family:Arial;
    font-size:13px;
    line-height:16px;
}
td.cell3 {
    /*vertical-align: middle !important;*/
    color: #a81419;  !important;
    font-family: Arial;
    font-size: 30px;
    line-height: 40px;
    /*padding: 20px 0 0 5px !important;*/
    padding-left:10px !important;


}

.cell1 a
{
    color: #6483a8;
    font-family: Arial;
    font-size: 24.6px;
    line-height: 29.3px;
    /*padding: 20px 0 0 5px !important;*/
    padding-left:10px !important;
}

#Table2 .cell2
{
    background-color:  #f0f0f0;
    background-image: none;
    border: 0px #000000 none;
    text-align: left;
    vertical-align: top;
    height: 140px;
    /*width: 50px;*/
    color:#000000;
    font-family:Arial;
    font-size:13px;
    line-height:16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#Button1
{
    border: 1px #2E6DA4 solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #87CEFA;
    background-image: none;
    color: #31394b;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    position:relative;
    left:0px;
    top:0px;
    width:118px;
    height:25px;
}

.content {
    position: relative;
    left: 100px;
    height: 200px;
    width: 600px;
    font-size: 20px;
    font-family: Arial;
}
.checkRemind{
    padding-left: 1.2em;
    font-size: 18px;
    color: #939393;
    font-style: italic;
    font-weight: bolder;
    font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', serif;
}

#content2 {}

#content2
.content1 a
{
    text-decoration:underline;
    color: #31394b !important;

}
li.content1 a:hover:not(.active) {
    background-color: #ffffff !important;
    color: #a81419 !important;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 0px solid #eee;
}

hr.style-line {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-line:after {
    content: "§Stepik.org§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.6em;
    padding: 0 0.25em;
    background: white;
    color: rgba(52, 2, 43, 0.89);
}
div.style-div
{
    width: 85%;
    padding-left: 2.5cm;
    padding-bottom: 30px;
}